<html lang="en">
    {{!-- HEADER --}}
    {{>head}}
    <body>
        <div class="container">
            {{!-- BODY --}}
            <div class="d-flex justify-content-between">
                {{>navbar}}
                {{{body}}}
            </div>
            
            {{!-- FOOTER --}}
            {{>fotter}}
        </div>
    </body>
</html>