<div class="w-25 mx-auto">
  <h3 class="card-title text-center mb-4">Tizimga kirish</h3>
  {{#if loginError}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error: </strong>
       
      {{loginError}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  {{/if}}
  <form action="/login" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email manzilingiz</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Parol</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        
        autocomplete="additional-name"
      />
    </div>

    <button type="submit" class="btn btn-primary w-100">Kirish</button>
  </form>

  <div class="text-center mt-3">
    <a href="/register" class="text-decoration-none">Ro‘yxatdan o‘tish</a>
  </div>

</div>